Repository Atlas-OS/utilities, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, multichoice, gameutil, filepicker, sfc-fix

feat: PR template & Contribution Guidelines in README
  .github/pull_request_template.md
  README.md
Labels: readme

fix: triggers on workflows & typos
  .github/workflows/dev-branch-merge.yaml
  .github/workflows/filter.yaml
Labels: actions

feat: CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

migrate CODE_OF_CONDUCT.md to .github/CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: none

feat: move CoC
  .github/CODE_OF_CONDUCT.md
  README.md
Labels: readme

fix: align with new contribution guidelines
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/dev-branch-merge.yaml
  .github/workflows/filter.yaml
  .github/workflows/labeler.yaml
Labels: actions

feat(readme): maintainability notice
  README.md
Labels: readme

docs: explain `rsrc.syso` files in README.md
  README.md
Labels: readme

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Rephrase `rsrc.syso` explanation to be more concise
  README.md
Labels: readme

Explain `rsrc.syso` files in README.md (#16)
  README.md
Labels: readme

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

# Go

multichoice:
- multichoice/**/*

gameutil:
- gameutil/**/*

filepicker:
- filepicker/**/*

# Rust

sfc-fix:
- sfc-fix/**/*
